{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="border-bottom mb-4">
                <legend class="border-bottom mb-4">
                    Are you sure want to delete the post "{{ object.title }}"?
                </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">
                    Yes, Delete
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}" >
                    Cancel
                </a>
            </div>

        </form>

    </div>
{% endblock %}